@model IEnumerable<MyWay3.Models.Resumo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataResumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffEscala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffDuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAssistencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncumprimentosSla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipamentosOkVta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipamentosOkAmbulift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipamentosInopVta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipamentosInopAmbulift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVoos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtrasosImputados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtrasosAceites)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataResumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffEscala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffDuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAssistencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncumprimentosSla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipamentosOkVta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipamentosOkAmbulift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipamentosInopVta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipamentosInopAmbulift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVoos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtrasosImputados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtrasosAceites)
            </td>
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@item.IdResumo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdResumo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdResumo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<pioneer-pagination info="@ViewBag.PaginatedMeta" route="/blog"></pioneer-pagination>